body{

	max-width:100%;
	margin: 0px;
	padding:0px;
}


.navbar {
 
 	display: flex;
	background-color: #000000;
	display: flex;
	padding: 12px;
	font-size: 12px;

}

.menu-links button{

	border: none;
}

.logo img{
	
	display: flex;
	height: 20px;
	width: auto;
	flex: 3;

	

}

.menu-links{

	display: flex;
	width: 30%;
}

#menu{
	display: flex;
	color:white;
	text-decoration: none;
	font-size: 12px;


}

.menu-toggle {
	height: inherit;
	margin-left:14px; 
	font-weight: bold;
}

#vlink{
	
	display: flex;
	color: white;
	margin-left: 14px;
}

.carousel-item img{

	min-height: 300px;
	width:auto;
}

.fa-angle-down{

	padding-left: 8px;
}

.fa-bars{

	padding-left: 8px;
}

.carousel-item-container {

	display: flex;
	text-align: center;
    width: 500px;
    height: 500px;
    background-size: contain;
	align-items: center;
	justify-content: center;

}


#first-carousel-item-container {
    background-image: url('https://www.jeep.com/content/dam/fca-brands/na/jeep/en_us/bhp/hero/adaptive-hero/mobile.jpg.image.1000.jpg');
}

.carousel-title-image{

	background-repeat: no-repeat;
	background-size: contain;
    min-height: 50px;
    width: 186px;
    background-image: url('https://www.jeep.com/content/dam/fca-brands/na/jeep/en_us/incentives/freedom-days-white-MY19.png')
}

/*background-color: rgba(0,0,0,.5);*/
/*background box of carousel */

/*https://www.jeep.com/content/dam/fca-brands/na/jeep/en_us/incentives/freedom-days-white-MY19.png*/
