body{

	max-width:100%;
	margin: 0px;
	padding:0px;
}


.navbar {
 
 	display: flex;
	background-color: #000000;
	display: flex;
	padding: 12px;
	font-size: 12px;

}

.menu-links button{

	border: none;
}

.logo img{
	
	display: flex;
	height: 20px;
	width: auto;
	flex: 3;

	

}

.menu-links{

	display: flex;
	width: 30%;
}

#menu{
	display: flex;
	color:white;
	text-decoration: none;
	font-size: 12px;


}

.menu-toggle {
	height: inherit;
	margin-left:14px; 
	font-weight: bold;
}

#vlink{
	
	display: flex;
	color: white;
	margin-left: 14px;
}

.carousel-item img{

	min-height: 300px;
	width:auto;
}

.fa-angle-down{

	padding-left: 8px;
}

.fa-bars{

	padding-left: 8px;
}

.carousel-item-container {

	display: flex;
	text-align: center;
    width: 500px;
    height: 500px;
    background-size: contain;
	justify-content: center;
	align-items: flex-start;

}


#first-carousel-item-container {
    background-image: url('https://www.jeep.com/content/dam/fca-brands/na/jeep/en_us/bhp/hero/adaptive-hero/mobile.jpg.image.1000.jpg');
}

.carousel-shadow-box {
    margin-top: 20px;
    height: 250px;
    background-color: rgba(0,0,0,.5);
}

.shadow-box-content{

	padding: 20px;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.shadow-box-content p {
	margin: 8px;
	line-height: 5px;
	color:white;
	font-size: 10px;
	font-weight: bold;
}

.carousel-title-image{

	background-repeat: no-repeat;
	background-size: contain;
    min-height: 26px;
    width: 186px;
    background-image: url('https://www.jeep.com/content/dam/fca-brands/na/jeep/en_us/incentives/freedom-days-white-MY19.png')
}

.shadow-box-info{

	display: flex;
	flex-direction: column;
}

.shadow-box-info-middle-row{

	display: flex;
}

.carousel-text{
	
	color: white;
	font-weight: bold;
	margin: 42px;
	font-size: 10px;
	font-weight: bold;
}

.shadow-box-button-container{

	margin: 20px;

}

.shadow-box-button{
	background-color: #F5BB41;
    padding:8px 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow-box-button p{
    font-weight: bold;
    line-height: 19px;
    color: #000000;
    font-size:1rem;

}

.shadow-box-button i {
	color:#000;
} 

.vehicle-card-container{

	display: flex;
	flex-wrap: wrap;

}

.vehicles-card1{

	text-align: center;
	font-weight: bold;
	font-family: arial;
}

.vehicles-card2{

	text-align: center;
	font-weight: bold;
	font-family: arial;
}

.vehicles-card-title{

	font-family: arial;
	font-weight: bold;
	padding: 24px 0px 10px 0px;
	text-align: center;
}

.vehicles-msrp{

	font-weight: lighter;
	color: #787878;
	font-size: 8px;

}

.vehicle-image img{

	height: 64px;
	width: auto;

}

.vehicles-price{

	font-size: 14px;
	margin-top: -14px;
}

.card{
	border:0;
}

.card-body{

	text-align: center;
}


/*background-color: rgba(0,0,0,.5);*/
/*background box of carousel */

/*https://www.jeep.com/content/dam/fca-brands/na/jeep/en_us/incentives/freedom-days-white-MY19.png*/
