body{

	max-width:100%;
	margin: 0px;
	padding:0px;
}


.navbar {
 
 	display: flex;
	background-color: #000000;
	display: flex;
	padding: 12px;
	font-size: 12px;

}

.menu-links button{

	border: none;
}

.logo img{
	
	display: flex;
	height: 24px;
	width: auto;
	flex: 3;
	
	

}

.menu-links{

	display: flex;
	width: 30%;
}

#menu{
	display: flex;
	color:white;
	text-decoration: none;
	font-size: 14px;


}

.menu-toggle {
	height: inherit;
	margin-left:14px; 
	font-weight: bold;
}

#vlink{
	
	display: flex;
	color: white;
	margin-left: 14px;
}

.carousel-item img{

	min-height: 300px;
	width:auto;
}

